/* 顶部标签页 */
.tab {
    width: 100%;
    height: 31px;
    /* background-color: skyblue; */
    text-align: center;
    line-height: 18px;
    margin-top: 10px;
}

.tab-left,
.tab-right {
    float: left;
    width: 35%;

}

.tab-left {
    color: #9cd3ba;
    border-right: 2px solid #f6f6f6;
}

.tab-center {
    float: left;
    width: 30%;
    border-right: 2px solid #f6f6f6;
}

.tab-right img {
    width: 12px;
    height: 12px;
}

/* 主体部分 */
/* 轮播广告 */
.slider img {
    width: 100%;
}

/* 新闻 */
.news {
    border-top: 8px solid #ebebeb;
    margin-bottom: 12px;
}

/* 新闻标题 */
.news h3 {
    font-size: 18px;
    margin-left: 5px;
    margin-top: 9px;
    margin-bottom: 9px;

}

.news-center {
    position: relative;
    height: 18px;
    line-height: 10px;
    font-size: 9px;
    margin-left: 5px;
}

.news-center::before {
    content: "|";
    font-size: 10px;
    color: #111;
    position: absolute;
    top: -2px;
    left: 47px;
}

.news-center div {
    float: left;
    margin-right: 26px;
}

.news-footer {
    position: relative;
    height: 40px;
    width: 100%;

}

.user {}

/* 用户头像 */
.news .user img {
    margin-left: 5px;
    width: 45px;
    height: 45px;
}

.news .talk {
    position: absolute;
    height: 30px;
    width: 50%;
    color: white;
    border-radius: 15px;
    background-color: #43b180;
    top: 14px;
    left: 73px;
    line-height: 30px;
}

.talk img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.vv {
    position: absolute;
    height: 20px;
    right: 6px;
    top: 26px;
    line-height: 20px;
}

.vv img {
    width: 15px;
    height: 15px;
}

/* 底部导航栏 */
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #f6f7f9;
}

.footer a {
    float: left;
    width: 25%;
    text-align: center;
}

.footer img {
    width: 16px;
    vertical-align: middle;
    margin-top: 6px;
}

.footer span {
    display: block;
    color: #9a9a9a;

}

.footer .num1 span {
    color: #51b68a;
}
